@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eef0f2;
  min-height: 100vh;
  font-family: variables.$font-stack;
}
