$primary-color: #6c6ea0;
$secondary-color: #765d87;
$font-stack: "Roboto", sans-serif;
$font-size: 1.8rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eef0f2;
  min-height: 100vh;
  font-family: $font-stack;
}
