@use 'base';

.header {
  background-color: base.$primary-color;
  display: flex;
  align-items: center;
  height: base.$font-size * 4;

  .title {
    color: #fff;
    font-size: base.$font-size * 2;
    margin-left: base.$font-size * 1.5;
  }
}
